Repository notabotband/sausages-shop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}
  MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository

stages:
  - build
  - test
  - release
  - notify

include:
  - template: Security/SAST.gitlab-ci.yml

build-backend-code-job:
  stage: build
  only:
    changes:
      - backend/*
  script:
    - cd backend
    - mvn package -Dmaven.repo.local=${MAVEN_REPO_PATH}
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/.m2/
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

build-frontend-code-job:
  stage: build
  only:
    changes:
      - frontend/*
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

spotbugs-sast:
  dependencies:
    - build-backend-code-job
  variables:
    COMPILE: "false"
    SAST_JAVA_VERSION: 17
    MAVEN_REPO_PATH: ${MAVEN_REPO_PATH}

sonarqube-backend-sast:
  stage: test
  dependencies:
    - build-backend-code-job
  image: maven:3.8-openjdk-16
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
      -Dsonar.projectName=${SONAR_BACKEND_PROJECT_NAME}
      -Dsonar.projectKey=${SONAR_BACKEND_PROJECT_KEY}
      -Dsonar.host.url=${SONARQUBE_URL}
      -Dsonar.login=${SONAR_BACKEND_LOGIN}

sonarqube-frontend-sast:
  stage: test
  dependencies:
    - build-frontend-code-job
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - cd frontend
    - >
      sonar-scanner -Dsonar.sources=.
      -Dsonar.projectName=${SONAR_FRONTEND_PROJECT_NAME}
      -Dsonar.projectKey=${SONAR_FRONTEND_PROJECT_KEY}
      -Dsonar.host.url=${SONARQUBE_URL}
      -Dsonar.login=${SONAR_FRONTEND_LOGIN}

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - mvn -Dmaven.repo.local=${MAVEN_REPO_PATH} -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  only:
    changes:
      - frontend/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}" --upload-file sausage-store-${VERSION}.tar.gz ${NEXUS_REPO_URL}/sausage-store-antipov-stas-frontend/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz

pachca-notification-backend:
  stage: notify
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"chat_id\": \"-1001860249898\", \"text\": \"Вышла новая версия backend '$CI_PROJECT_NAME' - '${VERSION}'. Скачать backend можно по ссылке — '${NEXUS_REPO_URL}'/sausage-store-antipov-stas-backend/com/yandex/practicum/devops/sausage-store/'${VERSION}'/sausage-store-'${VERSION}'.jar \"}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage"


pachca-notification-frontend:
  stage: notify
  script:
    - "curl -X POST -H 'Content-type: application/json' --data '{\"chat_id\": \"-1001860249898\", \"text\": \"Вышла новая версия backend '$CI_PROJECT_NAME' - '${VERSION}'. Скачать backend можно по ссылке — '${NEXUS_REPO_URL}'/sausage-store-antipov-stas-frontend/com/yandex/practicum/devops/sausage-store/'${VERSION}'/sausage-store-'${VERSION}'.tar.gz \"}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage"

Fix notify
  .gitlab-ci.yml
  backend/settings.xml
Due: build-backend-code-job, upload-backend-release

Fix notify
  .gitlab-ci.yml
Due: none

Fix notify
  .gitlab-ci.yml
  backend/pom.xml
  frontend/package-lock.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Fix notify
  backend/pom.xml
Due: build-backend-code-job, upload-backend-release

Fix notify
  .gitlab-ci.yml
  backend/pom.xml
  backend/settings.xml
Due: build-backend-code-job, upload-backend-release

Fix notify
  .gitlab-ci.yml
  backend/pom.xml
Due: build-backend-code-job, upload-backend-release

Fix notify
  .gitlab-ci.yml
  backend/settings.xml
  frontend/src/main.ts
Due: build-backend-code-job, upload-backend-release

Fix notify
  frontend/src/app/ecommerce/ecommerce.component.html
Due: none

Fix notify
  .gitlab-ci.yml
  frontend/src/app/app.component.css
Due: none

Fix notify
  backend/settings.xml
  frontend/angular.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Fix notify
  .gitlab-ci.yml
  frontend/tslint.json
Due: build-frontend-code-job, upload-frontend-release

Fix notify
  .gitlab-ci.yml
  backend/settings.xml
  frontend/angular.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Downstream
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
  frontend/src/app/ecommerce/shopping-cart/shopping-cart.component.html
  frontend/tsconfig.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Add deploy frontend
  backend/deploy.sh
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Add test frontend
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, upload-frontend-release

Add environment
  backend/.gitlab-ci.yml
  backend/settings.xml
  frontend/.gitlab-ci.yml
  frontend/tslint.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Add environment
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Add environment
  backend/settings.xml
  frontend/tslint.json
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Fix deploy
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Fix deploy
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release

Fix deploy
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: build-frontend-code-job, upload-frontend-release

Fix deploy
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, upload-frontend-release

Fix deploy
  backend/deploy.sh
Due: build-backend-code-job, upload-backend-release
